p {
    margin: 0;
}

#nav-black {
    background-color: #2F302B;
    width: 100%;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
}

.btn-outline-dark {
    border-color: #2F302B;
    color: #2F302B;
}

.btn-outline-dark:hover {
    background-color: #3B3EFB;
    color: aliceblue;
    border-color: #3B3EFB;
}

.icons {
    margin-left: 10px;
    margin-right: 10px;
}

.search {
    margin-right: 20px;
}

.text-divider {
    font-size: 32px;
    color: #3B3EFB;
    margin-left: 4%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-weight: bold;
    font-style: italic;
}

/* Product datails */

.image-emphasis{
    width: 50%;
}
.image-extra{
    width: 100%;
}
.adjustment-extra{
    padding: 10px;
    width: 100px;
}
.name-product-detail{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.price-product-detail{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.size-product-detail{
    font-size: 16px;
    font-weight: 600;
}

.adjust-shoe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adjust-shoe-1 p{
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #3B3EFB;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.adjust-detail-row{
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.adjust-div-datail{
    
    align-items: center;
}

.adjust-button-datail{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.logo-produto-datail{
    width: 50%;
    margin-top: 20px;
}


/* Products */

.card-size {
    width: 18rem;
}

.card-img-top {
    width: 70%;
}

.btn-primary {
    border-color: #3B3EFB;
    background-color: #3B3EFB;
}

.btn-primary:hover {
    border-color: #2b2dbb;
    background-color: #2b2dbb;
}

.carousel-control-next-icon {
    background-color: #3B3EFB;
    padding: 10px;
    border-radius: 5px;
}

.carousel-control-prev-icon {
    background-color: #3B3EFB;
    padding: 10px;
    border-radius: 5px;
}

/* Blog */

.adjust-border {
    border: none;
}

.adjust-size {
    width: 100%;
}

.blog-name {
    font-weight: bolder;
    color: #2F302B;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.margin-botton{
    margin-top: 100px;
}

.card-body{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 6px;
}

.link-blog{
    text-decoration: none;
    color: #3B3EFB;
    font-weight: 500;
    font-size: 18px;
}


/* registration-area2 */

.registration-area2 {
    background-color: #3B3EFB;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.registration-area2 .col {
    width: 100%;
}

.registration-area2-text {
    color: whitesmoke;
    font-size: 1.2rem;
}

.container-registration-area2 {
    padding-left: 100px;
    padding-right: 100px;
}

.box-button2 {

    padding: 0;
    margin: 0;
}

.btn-secondary {
    background-color: whitesmoke;
    color: #2F302B;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

}
.btn-secondary:active{
    background-color: white;
    color:#2F302B;

}

.btn-secondary:hover {
    background-color: rgb(214, 212, 212);
    color: #2F302B;
}

.btn-secondary p {
    font-size: 1%;
}

/* Footer */

.tamanho-logo {
    width: 266px;
    height: 50px;
    margin-top: 40px;
}

footer .btn {
    border: none;
    padding: 0;
}

footer .btn img {
    width: 32px;
    height: 32px;
}

/* Media Query*/

@media screen and (max-width: 680px) {
    .card-size {
        width: 33.33rem;
    }

    .hide-product {
        display: none;
    }

    .registration-area2-text {
        text-align: center;
    }

    .registration-area2 .col {
        max-width: 120%;
    }

    .search {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .blog-name {
        font-size: 22px;
        max-width: 100%;
    }

    .link-blog{
        font-size: 22px;
    }

    .adjustment-extra{
        padding: 0;
        width: 100px;
    }

    .responsive{
        display: flex;
        flex-direction: column;
    }
    .responsive-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .adjust-detail-img-extra{
        width: 60%;
        column-gap: 5px;
    }

    .responsive2{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-bottom: 20px;
       text-align: center;
    }

}