a{
    text-decoration: none;
}

#navPreto{
    background-color: #2F302B;
    width: 100%;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
}
#navCinza{
    background-color: #dbdbdb;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    margin-left: 0px;
    
}
.logo1{
    position: absolute;
    left: 6%;
    padding-top: 30px;
    
}
.iconesNav{
    position: absolute;
    left: 400px;
    padding-top: 38px;

   
}
.space{
    /* ESPAÇO ENTRE AS IMAGENS HOMEM MULHER CRIANÇA OFERTAS */
    margin: 0 7px;
    font-size: 18px;
    color: #707070;
    font-weight: 600;
    text-decoration: none;
}
.input-pesquisar{
    position: absolute;
    left: 66%;
    padding-top: 30px;
    
}
.pesquisarImg{
    position: absolute;
    left: 82%;
    padding-top: 35px;
}
.iconeCantoDireito{
    position: absolute;
    padding-top: 35px;
    left: 88%;
}
.spaceCantoD{
    margin: 0 5px;
}
/*----------------------------- conteúdo  ------------------------------------------------------- */

.etapas {

    all: unset;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.etapas .etapa-ativa{

    width: 174px;
    height: 60px;
    background-color: #3B3EFB;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.etapas .etapa-ativa{
    color: white;
    font-weight: 700;
}

.etapas .etapa-fechada{

    width: 174px;
    height: 60px;
    background-color: #DBDBDB;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
 
}

.etapas .etapa-fechada{
    color: #3B3EFB;
    font-weight: 700;
}

.container-carrinho{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
   
}

.container-carrinho .primeira-sessao .produto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-carrinho .primeira-sessao .produto .texto-produto{
    font-size: 16px;
    font-weight: 500;
}
.produto img {
    width: 134px;
    height: 142px;
    margin-right: 30px;
}

.container-carrinho .primeira-sessao .frete{
    display: flex;
    margin-top: 10px;
 
}

.container-carrinho .primeira-sessao .frete a{
    color: white;
   
}

.botao-ok{
    background-color: #3B3EFB;
    border-radius: 5px;
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-carrinho .primeira-sessao .frete input {
    border-radius: 5px;
    border-color: #3B3EFB;
    margin-right: 10px;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.botao-menos{
    color: #3B3EFB;
    font-size: 20px;
    font-weight: 700;
}
.botao-mais{
    color: #3B3EFB;
    font-size: 20px;
    font-weight: 700;
}

.muda-quantidade{
    width: 40px;
    height: 25px;
    background-color: white;
    border: solid 1px #DBDBDB; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18   px;
}

.separador-carrinho{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.separador-resumo{

    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.terceira-sessao{
    width: 260px;
}

.subitens{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total{
    font-size: 22px;
    font-weight: 600;
}

.botao-finalizar-carrinho{
    width: 255px;
    height: 51px;
    background-color: #3B3EFB;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.botao-finalizar-carrinho p{
    font-size: 18px;
    font-weight: 600;
    color:white;
    margin: 0;
 
 }
 
 .botao-finalizar-carrinho:hover{
     transform: scale(1.1);
     transition: 0.5s;
 }

/*----------------------------- FOOTER  ------------------------------------------------------- */
p{
    margin:0;
}
.footerAzul{
    background-color: #3b3efb;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.footerAzul a{
    text-decoration: none;
}
.footerAzul a:hover{
    transform: scale(1.2);
    transition: 0.5s;   
}

.footerPreto{
    background-color: #2F302B;
    width: 100%;
    height: 350px;
    padding: 60px;
}
.footerPreto p{   
    text-align: center;
    color: white; 
}
.retFaixaAzul{
    position: absolute;
    padding-top: 35px;
    left: 58%;
}

 .botao-cadastrar{
     width: 306px;
     height: 62px;
     background-color: #FFFFFF;
     border-radius: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px;
 }

 .botao-cadastrar p{
    font-size: 20px;
    font-weight: 600;
    color: #2F302B;
    margin: 0;

 }

.textoFooterAzul{
    color: white;
    max-width: 400px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;    
}
.textoFooterPreto{
    
    font-size: 25px;
}
.logo2{
    text-align: center;
}
.redesSociais{
    padding: 20px;
    text-align: center;
    padding-top:40px;
    padding-bottom: 40px;    
}
footer div a{
    margin: 0 7px;
}

/* .space:hover{
    background-color: rgb(197, 197, 197);
} */
.clube:hover{
    font-size: 110%;
    transition: 1s;
}

.imagemdecadastro:hover{
    font-size: 50%;
    transition: 5ms;
}
